
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="products">
        <% @products.each do |product| %>
        <div class="product clearfix">

          <div class="product-details">
            <span class="product-title"><%= link_to product.name, product %></span>
            <span class="product-description"><%= product.description %></span>
          </div>
          
          <div class="product-comments">
            <span class="glyphicon glyphicon-comment"></span>
            <span class="comment-count"><%= product.comments.count %></span>
          </div>

        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
  <div class="col-md-12 text-center">
    <h1>Productos</h1>

  <% if signed_in? %>
      <div class="text-right"> 
        <%= link_to "publicar producto", new_product_path, class: "btn btn-primary" %>
      </div>
  <% end %>

  </div>
    <div class="col-md-12">

      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Url</th>
            <th>Descripción</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        <% @products.each do |p| %>
          <tr>
            <td><%= p.id %></td>
            <td><%= link_to p.name, p %></td>
            <td><%= p.url %></td>
            <td><%= p.description %></td>
            <% if signed_in? %>
              <td><%= link_to "Editar", edit_product_path(p) %></td>
              <td><%= link_to "Eliminar", p, method: :delete, data: {confirm: "Estas seguro de eliminar este producto?"} %></td>
            <% end %>
          </tr>
        <% end %>
          
        </tbody>
      </table>

    </div>
  </div>
</div>
 -->

 